<div class=".center " *ngIf="exportando == true">
  <mat-progress-bar class="_mat-animation-noopable" [value]="valueProgress"></mat-progress-bar>
</div>
<div *ngIf="exportando == false">
  <div class="Block">
    <label id="lbl">Code </label>
    <input accept=".txt" type="file" (change)="fileChanged($event)" />
    <br />
    <button mat-raised-button color="accent" (click)="sendData()">
      Send data
    </button>
      <button mat-raised-button color="primary" (click)="exportXLSX()">
        Exportar
      </button>
  </div>
  <div>
    <h3>File Content</h3>
    <pre>{{ text }} </pre>
  </div>
</div>

