<div class="Block">
  <label id="lbl">Code </label>
  <input accept=".txt" type="file" (change)="fileChanged($event)"/>
  <br>
  <button mat-raised-button color="accent"  (click)="oneConsult()">OneConsult</button>
  <br>
  <button mat-raised-button color="accent"  (click)="sendData()">Send data</button>
  <br>
  <button mat-raised-button color="accent" (click)="tryMigo()">TRY MIGO</button>

  <button mat-raised-button (click)="exportXLSX()">Export XLSX</button>
  <br>


</div>

<div>
  <h3>File Content</h3>
  <pre>{{text}} </pre>
</div>
