<!-- <mat-toolbar color="primary">
  <mat-toolbar-row>
    <button mat-button [matMenuTriggerFor]="menu">
      <mat-icon>menu</mat-icon>
    </button>
    <span>Validador de comprobantes - Sunat</span>
    <span>v1</span>
  </mat-toolbar-row></mat-toolbar
> -->

<div class="body">
  <form
    [formGroup]="formdata"
    (ngSubmit)="onClickSubmit(formdata)"
    class="example-form"
  >
    <mat-form-field>
      <mat-label>Entidad</mat-label>
      <mat-select formControlName="selected2">
        <mat-option *ngFor="let food of data" [value]="food">
          {{ food.name }}
        </mat-option>
      </mat-select>
    </mat-form-field>
    <!-- <mat-checkbox [formControl]="hideRequiredControl"
      >Numero Ruc Emisor</mat-checkbox
    > -->
    <br />
    <button type="submit" class="forsubmit" mat-raised-button color="primary">
      Ingresar
    </button>
  </form>
</div>

